@model IEnumerable<AHDDManagerClass.Associate>

@{
    ViewBag.Title = "Associates";
}

<script src="~/Scripts/States.js"></script>
<script src="~/Scripts/Utilities.js"></script>

<!-- NEEDED FOR SPINNER DIALOG -->


<script>
    $(function () {

        var AssociateID;

        $.fn.bootstrapBtn = $.fn.button.noConflict();

        $('[data-toggle="tooltip"]').tooltip();

        GetStates();
        GetColors();

        var AssociateDialog = $("#associate-dialog").dialog({
            autoOpen: false,
            draggable: false,
            height: $(window).height() * .75,
            width: $(window).width() * .85,
            //position: ['middle', 128],
            stack: true,
            modal: true,
            open: function (event, ui) {

            },
            buttons: {
                "Update": UpdateFormAssociate,
                Cancel: function () {
                    AssociateDialog.dialog("close");
                }
            },
            close: function () {
                AssociateDialog.dialog("close");
            }
        });

        var HoursDialog = $("#hours-dialog").dialog({
            autoOpen: false,
            draggable: false,
            height: $(window).height() * .75,
            width: $(window).width() * .65,
            //position: ['middle', 128],
            stack: true,
            modal: true,
            open: function (event, ui) {
                var today = new Date();
                var endDate = (today.getMonth() + 1) + '/' + today.getDate() + '/' + today.getFullYear();

                var someDate = new Date();
                var numberOfDaysToAdd = 7;
                someDate.setDate(someDate.getDate() - numberOfDaysToAdd);


                var dd = someDate.getDate();
                var mm = someDate.getMonth() + 1;
                var y = someDate.getFullYear();

                var startDate = mm + '/' + dd + '/' + y;




                $.ajax({
                    url: '/account/SearchClockInsByID/',
                    type: 'POST',
                    data: JSON.stringify({ StartDate: startDate, EndDate: endDate, AssociateID: AssociateID }),
                    //dataType: 'json',
                    traditional: true,
                    contentType: 'application/json;',
                    success: function (result) {
                        if (result.length == 0) {
                            //THIS NEEDS TO GO
                            //StoreFlavor = "<tr><td>No Results</td></tr>";
                            //$("#tblCustomers").append(StoreFlavor);
                        } else {
                            $("#tblClockIns tr:gt(0)").remove();

                            $.each(result.ClockInHistory, function (key, value) {
                                var _LoginDatetime = value.LoginDatetimeString;

                                var _LogoutDatetime = value.LogoutDatetimeString;

                                if (_LoginDatetime == '1/1/1') {
                                    _LoginDatetime = 'N/A';
                                }
                                if (_LogoutDatetime == '1/1/1') {
                                    _LogoutDatetime = 'N/A';
                                }

                                if (!value.IsLunch) {
                                    expense = "<tr id=\"" + value.AssociateClockInHistoryID + "\">"
                                }
                                else {
                                    expense = "<tr class='warning' id=\"" + value.AssociateClockInHistoryID + "\">"
                                }

                                expense += "<td>" + _LoginDatetime + "</td>" +
                                    "<td>" + _LogoutDatetime + "</td>" +
                                    "<td>" + value.HoursWorked + "</td>" +
                                    "<td>" + value.MinutesWorked + "</td>" +
                                    "</tr>";

                                $("#tblClockIns").append(expense);

                            });

                            expense = "<tr>" +
                                "<td> <strong>TOTAL:</strong></td>" +
                                "<td><strong>" + result.HoursWorkedString + "</strong></td><td></td><td></td>" +

                                "</tr>";
                            $("#tblClockIns").append(expense);

                            $('[data-toggle="tooltip"]').tooltip();
                            //$('#divTotal').text(_total);

                        }
                    }
                });
            },
            buttons: {
                Cancel: function () {
                    HoursDialog.dialog("close");
                }
            },
            close: function () {
                HoursDialog.dialog("close");
            }
        });


        $("#tblAssociates").on('click', '.hours', function (event) {
            AssociateID = $(this).data("id");

            $('#associate').text('Associate: ' + $(this).data("name") + ' (last 7 days)');
            HoursDialog.dialog('open');
        });


        $("#tblAssociates").on('click', '.clock', function (event) {
            event.preventDefault();
            AssociateID = $(this).data("id")

            $.ajax({
                url: '/admin/ChangeAssociateClockedInStatus/',
                type: 'POST',
                data: JSON.stringify({ AssociateID: AssociateID }),
                //dataType: 'json',
                traditional: true,
                contentType: 'application/json;',
                success: function (result) {
                    if (result == '1') {
                        //alert('Associate clocked in status has been changed.');
                        $.AlertDialog('Associate clocked in status has been changed.', 'Success', function (event) { }, 'lightgreen');
                        window.location.reload();

                    } else {
                        $.AlertDialog('There was an error changing the clock in status of the associate.', 'Error Message', function (event) { }, 'lightcoral');
                        //alert("There was an error changing the clock in status of the associate.");
                    }
                }
            });
        });


        $('#lnkNew').on('click', function (e) {

            ClearForm();
            resetRequiredBoxes();
            AssociateDialog.dialog("open");
        });

        $('#tblAssociates').on('click', '.name', function () {

            $('#divColor').css('background', 'silver')
            ClearForm();
            resetRequiredBoxes();
            AssociateID = $(this).data("id");
            LoadAssociate(AssociateID);
            AssociateDialog.dialog("open");
        });

        function UpdateFormAssociate() {
            var res = UpdateAssociate(AssociateID);

            if (res == '1') {
                location.reload();
            } else if (res == '0') {
                //alert('There was an error updating the associate.');
                $.AlertDialog('There was an error updating the associate.', 'Error Message', function (event) { }, 'lightcoral');
            }
        }
    });
</script>


<h2>Associates</h2>

<div class="row">
    <div class="col-sm-12 text-right">
        <a id="lnkNew">
            <span class="fa-stack fa-badge-stack fa-2x" data-toggle="tooltip" title="" data-original-title="Add New Associates">
                <i class="fa fa-user-circle fa-stack-1x"></i>
                <i class="fa-badge fa-badge-bottom-circle-surround fa-stack-1x fa-inverse"></i>
                <i class="fa-badge fa-badge-bottom-plus fa-stack-1x text-success"></i>
            </span>
        </a>
        @*<a href="#" id="lnkNew">
                <img src="~/images/add associate.png" data-toggle="tooltip" data-placement="left" title="Add New Associates" />
            </a>*@
    </div>
</div>

<table id="tblAssociates" class="table table-striped">
    <tr>
        <th></th>
        <th>Name</th>
        <th>Address</th>
        @*<th>City</th>*@
        @*<th>State</th>*@
        @*<th>Zip</th>*@
        <th>Phone</th>
        <th>AltPhone</th>
        <th>Email</th>
        <th class="text-center">Active</th>
        <th class="text-center">Hours</th>
        <th class="text-center">Status</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr id="@item.AssociateID">
            <td class="text-center">
                <i class="fa fa-circle fa-lg fa-fw" style="color: @item.BackgroundColor" data-toggle="tooltip" title="" data-original-title="@item.BackgroundColor"></i>
            </td>
            <td><a href="#" class="name" data-id="@item.AssociateID">@item.FirstName @item.LastName</a></td>
            <td>@item.Address</td>
            @*<td>@item.City</td>*@
            @*<td>@item.State</td>*@
            @*<td>@item.Zip</td>*@
            <td>@item.PhoneFormatted</td>
            <td>@item.AltPhoneFormatted</td>
            <td>@item.Email</td>

            <td class="text-center">
                @{
                    if (Convert.ToBoolean(item.Active))
                    {
                        <i class="fa fa-check fa-2x text-success"></i>

                    }
                    else
                    {
                        <i class="fa fa-times fa-2x text-danger"></i>
                    }
                }
            </td>
            <td class="text-center">
                @*<img src="/images/hours.png" class="imgBtn hours" data-toggle="tooltip" data-placement="left" title="Check Associate Hours" />*@
                <a class="hours" data-id="@item.AssociateID" data-name="@item.FirstName @item.LastName"><i class="fa fa-history fa-2x" data aria-hidden="true" data-toggle="tooltip" title="Check Associate Hours"></i></a>
            </td>
            <td class="text-center">
                @{
                    if (item.ClockedIn)
                    {
                        @*<img src="~/images/ClockedIn.png" class="imgBtn clock" data-toggle="tooltip" data-placement="left" title="Currently Clocked In" />*@
                        <a class="clock" data-id="@item.AssociateID" >
                            <span class="fa-stack fa-badge-stack fa-2x" data-toggle="tooltip" title="Currently Clocked In">
                                <i class="fa fa-clock-o fa-stack-1x"></i>
                                <i class="fa-badge fa-badge-bottom-circle-surround fa-stack-1x fa-inverse"></i>
                                <i class="fa-badge fa-badge-bottom-check-circle fa-stack-1x text-success"></i>
                            </span>
                        </a>
                    }
                    else
                    {
                        @*<img src="~/images/ClockedOut.png" class="imgBtn clock" data-toggle="tooltip" data-placement="left" title="Currently Clocked Out" />*@
                        <a class="clock" data-id="@item.AssociateID" >
                            <span class="fa-stack fa-badge-stack fa-2x" data-toggle="tooltip" title="Currently Clocked Out">
                                <i class="fa fa-clock-o fa-stack-1x"></i>
                                <i class="fa-badge fa-badge-bottom-circle-surround fa-stack-1x fa-inverse"></i>
                                <i class="fa-badge fa-badge-bottom-times fa-stack-1x text-danger"></i>
                            </span>
                        </a>
                    }
                }
            </td>

        </tr>
    }
</table>


@Html.Partial("~/Views/Shared/AssociateDialog.cshtml")


<div id="hours-dialog" title="Associate Hours">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div id="associate"></div>
            </div>
        </div>
    </div>
    <table id="tblClockIns" class="table table-responsive table-striped">
        <tr>
            <th>Log In Time</th>
            <th>Log Out Time</th>
        </tr>
    </table>
</div>


