@model AHDDManager.Models.Invoice

@{
    Layout = "~/Views/Shared/_InvoiceLayout.cshtml";
}

@{
    ViewBag.Title = "Receipt";
}

<script>
    $(function () {
        //Auto print when open
        sendToPrint();
    });

    function sendToPrint() {
        $('#print').hide();

        window.print();
        $('#print').show();
    }
</script>

<div class="container">
    <div class="row">
        <div class="col-lg-14 col-md-offset-1 main">
            <div class="col-md-12">
                <div><a href="#" id="print" onclick="sendToPrint()"><img src="/images/print.png" width="25" height="25" /></a></div>
                <div class="row">
                    <div class="=row col-md-12">
                        <h3><strong>Agencia Hispana De Dallas on Bishop Ave.</strong></h3>
                    </div>

                    <table class="table">
                        <tr>
                            <td>
                                <div>
                                    <div> <strong id="lblBizName">@Model.Business.BusinessName</strong></div>
                                    <div id="lblBizAddress">@Model.Business.Address  </div>
                                    <div>@Model.Business.City, @Model.Business.State @Model.Business.Zip </div>
                                    <div id="lblBizPhone">@Model.Business.PhoneFomatted</div>
                                    <!-- <div id="lblBizEmail">[NEED TO ADD BIZ EMAIL]</div> -->
                                </div>
                            </td>
                            <td>
                                <div class="text-right top">
                                    <div id="lblCustName">@Model.Customer.FirstName @Model.Customer.LastName</div>
                                    <div id="lblCustName">@Model.Customer.SecondaryFirstName @Model.Customer.SecondaryLastName</div>
                                    <div id="lblCustAddress">@Model.Customer.Address  </div>
                                    <div>@Model.Customer.City , @Model.Customer.State @Model.Customer.Zip</div>

                                    <div id="lblCustPhone">@Model.Customer.MobileFormatted</div>
                                    <div id="lblCustEmail">@Model.Customer.Email</div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="row">

                    <table class="table" style="margin-bottom:10px;">
                        <tr>
                            <td>
                                <div class="text-center">
                                    <h4 id="lblInvoice"><strong>Rep:</strong></h4>
                                    <h4>@Model.Transaction.TakenBy</h4>
                                </div>
                            </td>
                            <td>
                                <div class="text-center">
                                    <h4 id="lblInvoice"><strong>Customer ID:</strong></h4>
                                    <h4>@Model.Customer.CustomerID</h4>

                                </div>
                            </td>
                            <td>
                                <div class="text-center">
                                    <h4 id="lblInvoice"><strong>Receipt No.</strong></h4>
                                    <h4>@Model.Transaction.TransactionID</h4>
                                </div>
                            </td>
                            <td>
                                <div class="text-center">
                                    <h4 id="lblInvoiceDate"><strong>Receipt Date:</strong></h4>
                                    <h4>@Model.Transaction.TransactionDate.ToShortDateString()</h4>
                                </div>
                            </td>
                            <td>
                                <div class="text-center">
                                    <h4 id="lblInvoiceDate"><strong>Date:</strong> </h4>
                                    <h4>@DateTime.Now.ToShortDateString()</h4>

                                </div>
                            </td>
                        </tr>
                    </table>


                    <table class="table" id="tblTrans">
                        <thead>
                            <tr>
                                <th><h5>Item #</h5></th>
                                <th><h5>Description</h5></th>
                                <th><h5>Quantity</h5></th>
                                <th><h5>Price</h5></th>
                                <th><h5>Subtotal</h5></th>
                            </tr>
                        </thead>
                        <tbody>

                            @{ foreach (AHDDManagerClass.TransactionDetail item in Model.TransactionDetails)
                                {

                                    <tr>
                                        <td class="col-md-2">@item.TransactionDetailID</td>
                                        <td class="col-md-5">@item.FormTitle</td>
                                        <td class="col-md-1 text-right">@item.Quantity</td>
                                        <td class="col-md-2 text-right">@item.PriceCharged.ToString("C") </td>
                                        <td class="col-md-2 text-right"> @item.Total.ToString("C") </td>
                                    </tr>
                                    if (!string.IsNullOrEmpty(item.Notes))
                                    {
                                        <tr class="tr-note" style="font-size:15px">
                                            <td class="col-md-2"></td>
                                            <td class="col-md-10" colspan="4">*Note: @item.Notes</td>
                                        </tr>
                                    }
                                }

                            }

                            <tr>
                                <td class="col-md-2"></td>
                                <td class="col-md-5"></td>
                                <td class="col-md-1"></td>
                                <td class="col-md-2 text-right">
                                    <p>
                                        <strong>Total: </strong>
                                    </p>
                                </td>

                                <td class="col-md-2 text-right">
                                    <p id="lblSubTotal">
                                        <strong> @Model.Transaction.TotalAmount.ToString("C")  </strong>
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div style="margin-top:-20px;">
                        <h3><strong>Payments</strong></h3>
                        <table class="table" id="tblPayments">
                            <tr>
                                <th>Receipt Creator</th>
                                <th>Date</th>
                                <th style="text-align:right;">Amount</th>
                            </tr>

                            @{ foreach (AHDDManagerClass.Payment item in Model.Payments)
                                {

                                    <tr>
                                        <td class="col-md-3 text-left">@item.TakenBy</td>
                                        <td class="col-md-3 text-left">@item.PaymentDate</td>
                                        <td class="col-md-3 text-right">@item.PaymentAmount.ToString("C") </td>
                                    </tr>
                                }

                            }
                            <tr>
                                <td></td>
                                <td class="col-md-3 text-right"><strong>Total Paid: </strong></td>
                                <td class="col-md-3 text-right">
                                    <p id="lblBalance">
                                        <strong> @Model.Transaction.TotalCollected.ToString("C")  </strong>
                                    </p>
                                </td>
                            </tr>

                        </table>

                        @if (Model.Refunds != null && Model.Refunds.Count() > 0)
                        {
                            <h3><strong>Refunds</strong></h3>
                            <table class="table" id="tblPayments">
                                <tr>
                                    <th class="col-md-3">Refund Amount</th>
                                    <th class="col-md-3">Date</th>
                                    <th class="col-md-3">Rep</th>
                                    <th class="col-md-3">Note</th>
                                </tr>

                                @{ foreach (AHDDManagerClass.Refund item in Model.Refunds)
                                    {

                                        <tr>
                                            <td class="col-md-3 text-left">@item.RefundAmount.ToString("C") </td>
                                            <td class="col-md-3 text-left">@item.RefundDate</td>
                                            <td class="col-md-3 text-right">@item.RefundedBy</td>
                                            <td class="col-md-3 text-right">@item.Note</td>
                                        </tr>
                                    }

                                }
                                <tr>
                                    <td></td>
                                    <td class="col-md-3 text-right"><strong>Total Refunded: </strong></td>
                                    <td class="col-md-3 text-right">
                                        <p id="lblBalance">
                                            <strong> @Model.Transaction.RefundedAmount.ToString("C")  </strong>
                                        </p>
                                    </td>
                                    <td></td>
                                </tr>
                            </table>
                        }
                        <table class="table" id="tblPayments">
                            <tr style="color: #F81D2D;">
                                <th class="col-md-3"></th>
                                <th class="col-md-3"></th>
                                <td class="text-right"><h4><strong>Total Due:</strong></h4></td>
                                <td class="text-right" id="lblTotal"><h4><strong>@Model.Transaction.TotalOwed.ToString("C") </strong></h4></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-12 text-center">
                Thank you for your business!
            </div>
        </div>
    </div>
</div>

<style>



    .main {
        background: #ffffff;
        border-bottom: 15px solid #F81D2D;
        border-top: 15px solid #1E1F23;
        margin-top: 30px;
        margin-bottom: 30px;
        padding: 20px 30px !important;
        position: relative;
        box-shadow: 0 1px 21px #808080;
        font-size: 19px;
        max-width: 100%;
    }

        .main thead {
            background: #1E1F23;
            color: #fff;
        }
</style>



