@model AHDDManager.Models.Invoice

@{
    Layout = "~/Views/Shared/_InvoiceLayout.cshtml";
}

@{
    ViewBag.Title = "Receipt";
}

<style>
    .main {
        background: #ffffff;
        border-bottom: 5px solid #808080;
        border-top: 5px solid #808080;
        box-shadow: 0 0px 21px #808080;
        margin-top: 30px;
        font-size: 19px;
    }

    #tblInfo {
        font-size: 22px;
    }

    .tr-note {
        font-size: 0.7em;
    }

    #divTotalDue {
        color: #F81D2D !important;
        width: 100%;
    }
</style>
<script>
    $(function () {
        //Auto print when open
        sendToPrint();
    });

    function sendToPrint() {
        window.print();
    }
</script>

<div class="container">
    <div class="row">
        <div class="main">
            <div class="hidden-print">
                <a href="#" id="print" onclick="sendToPrint()"><img src="/images/print.png" width="25" height="25" /></a>
            </div>
            <div class="col-md-12 text-center">
                <h1><strong>Agencia Hispana De Dallas on Bishop Ave.</strong></h1>
            </div>
            <div class="col-md-12">
                <table id="tblInfo" class="table">
                    <tr>
                        <td>
                            <div>
                                <div> <strong> @Model.Business.BusinessName</strong></div>
                                <div id="lblBizAddress">@Model.Business.Address  </div>
                                <div>@Model.Business.City, @Model.Business.State @Model.Business.Zip </div>
                                <div id="lblBizPhone">@Model.Business.PhoneFomatted</div>
                                <div id="lblBizEmail">ahdd.825@gmail.com</div> @*ToDo: HARDCODE*@
                            </div>
                        </td>
                        <td>
                            <div class="text-right top">
                                <div id="lblCustName">@Model.Customer.FirstName @Model.Customer.LastName</div>
                                <div>@Model.Customer.SecondaryFirstName @Model.Customer.SecondaryLastName</div>
                                <div id="lblCustAddress">@Model.Customer.Address  </div>
                                <div>@Model.Customer.City , @Model.Customer.State @Model.Customer.Zip</div>

                                <div id="lblCustPhone">@Model.Customer.MobileFormatted</div>
                                <div id="lblCustEmail">@Model.Customer.Email</div>
                            </div>
                        </td>
                    </tr>
                </table>

                <table class="table">
                    <tr>
                        <td>
                            <div class="text-center">
                                <label id="lblInvoice"><strong>Rep:</strong></label>
                                <p>@Model.Transaction.TakenBy</p>
                            </div>
                        </td>
                        <td>
                            <div class="text-center">
                                <label id="lblInvoice"><strong>Customer ID:</strong></label>
                                <p>@Model.Customer.CustomerID</p>

                            </div>
                        </td>
                        <td>
                            <div class="text-center">
                                <label id="lblInvoice"><strong>Receipt No.</strong></label>
                                <p>@Model.Transaction.TransactionID</p>
                            </div>
                        </td>
                        <td>
                            <div class="text-center">
                                <label id="lblInvoiceDate"><strong>Receipt Date:</strong></label>
                                <p>@Model.Transaction.TransactionDate.ToString("MM/dd/yyyy")</p>
                            </div>
                        </td>
                    </tr>
                </table>
                <table class="table" id="tblTrans">
                    <thead>
                        <tr>
                            @*<th><h5>Item #</h5></th>*@
                            <th width="60%">Description</th>
                            <th width="10%" class="text-center">Quantity</th>
                            <th width="15%" class="text-center">Price</th>
                            <th width="15%" class="text-center">Subtotal</th>
                        </tr>
                    </thead>
                    <tbody>

                        @{ foreach (AHDDManagerClass.TransactionDetail item in Model.TransactionDetails)
                            {

                                <tr>
                                    @*<td class="col-md-2">@item.TransactionDetailID</td>*@
                                    <td>@item.FormTitle</td>
                                    <td class="text-center">@item.Quantity</td>
                                    <td class="text-right">@item.PriceCharged.ToString("C") </td>
                                    <td class="text-right"> @item.Total.ToString("C") </td>
                                </tr>
                                if (!string.IsNullOrWhiteSpace(item.Notes))
                                {
                                    <tr class="tr-note">
                                        <td colspan="4">*Note: @item.Notes</td>
                                    </tr>
                                }
                            }

                        }

                        <tr>
                            <td class="text-right" colspan="3">
                                <label>Total: </label>
                            </td>

                            <td class="text-right">
                                <label id="lblSubTotal"> @Model.Transaction.TotalAmount.ToString("C")  </label>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <h3><strong>Payments</strong></h3>
                <table class="table" id="tblPayments">
                    <tr>
                        <th width="35%">Rep</th>
                        <th width="35%">Date</th>
                        <th width="15%">Method</th>
                        <th width="15%" class="text-center">Amount</th>
                    </tr>

                    @{ foreach (AHDDManagerClass.Payment item in Model.Payments)
                        {

                            <tr>
                                <td>@item.TakenBy</td>
                                <td>@item.PaymentDate.ToString("MM/dd/yyyy")</td>
                                <td>@item.PaymentMethodDescription</td>
                                <td class="text-right">@item.PaymentAmount.ToString("C") </td>
                            </tr>
                        }

                    }
                    <tr>
                        <td></td>
                        <td></td>
                        <td class="text-right"><label>Total Paid: </label></td>
                        <td class="text-right">
                            <label> @Model.Transaction.TotalCollected.ToString("C")  </label>
                        </td>
                    </tr>

                </table>

                @if (Model.Refunds != null && Model.Refunds.Count() > 0)
                {
                    <h3><strong>Refunds</strong></h3>
                    <table class="table" id="tblRefounds">
                        <tr>
                            <th width="35%">Rep</th>
                            <th width="50%">Date</th>
                            @*<th class="col-sm-3">Note</th>*@
                            <th width="15%" class="text-center">Amount</th>
                        </tr>

                        @foreach (AHDDManagerClass.Refund item in Model.Refunds)
                        {
                            <tr>
                                <td>@item.RefundedByName</td>
                                <td>@item.RefundDate</td>
                                @*<td>@item.Note</td>*@
                                <td class="text-right">@item.RefundAmount.ToString("C") </td>
                            </tr>
                            if (!string.IsNullOrWhiteSpace(item.Note))
                            {
                                <tr class="tr-note">
                                    <td class="col-sm-12" colspan="3">*Note: @item.Note</td>
                                </tr>
                            }
                        }
                        <tr>
                            <td class="text-right" colspan="2"><label>New Total:</label></td>
                            <td class="text-right">
                                <label> @((Model.Transaction.TotalCollected - Model.Transaction.RefundedAmount).ToString("C"))   </label>
                            </td>
                        </tr>
                    </table>
                }

                <table id="divTotalDue" class="table">
                    <tr>
                        <td width="85%" class="text-right"><label>Total Due:</label></td>
                        <td width="15%" class="text-right" id="lblTotal"><label>@Model.Transaction.TotalOwed.ToString("C")</label></td>
                    </tr>
                </table>
            </div>
            <div class="col-md-12 text-center">
                Thank you for your business!
            </div>
        </div>
    </div>
</div>



