
@{
    ViewBag.Title = "Create Receipt";
}

<!-- NEEDED FOR SPINNER DIALOG -->

<script src="~/Scripts/Utilities.js"></script>

<script>
    var transactionDetails = [];
    $(function () {
        var _assosiateID = '@ViewBag.AssociateID'
        var _customerID = '@ViewBag.CustomerID'


        $('[data-toggle="tooltip"]').tooltip();
        $('[data-toggle="popover"]').popover();
        $.fn.bootstrapBtn = $.fn.button.noConflict();

        $("#lnkAdd").on('click', function (event) {
            _OpenNewDetailDialog();
        });

        $("#btnSubmit").on('click', function (event) {
            //if ($('#tblTrans tr').length < 3) {
            //    alert('There are no transactions details.');
            //} else {
            //    transaction = {
            //        BusinessID: 0,
            //        CustomerID: _customerID,
            //        AssociateID: $('#ddlAtendedBy').val(),
            //        TotalAmount: $('#tblTrans').find('tr:last td:nth-child(5)').text().replace('$', '').replace(',', '').replace('.00', ''),
            //        TransactionDate: (new Date()).toLocaleString(), //PT - add time in the client side
            //        ModifiedDate: (new Date()).toLocaleString() //PT - add time in the client side
            //    };

            //    var transactiondetails = new Array();


            //    $('#tblTrans tr:not(:first-child)').each(function () {

            //        if (!$(this).is(":last-child")) {

            //            transdet = {
            //                FormID: $(this).attr('id'),
            //                FormTitle: $(this).find('td:nth-child(1)').text(),
            //                UnitPrice: $(this).find('td:nth-child(3)').text().replace('$', '').replace(',', '').replace('.00', ''),
            //                DiscountPrice: $(this).find('td:nth-child(4)').text().replace('$','').replace(',','').replace('.00',''),
            //                Quantity: $(this).find('td:nth-child(2)').text(),
            //                Notes: $(this).find('td:nth-child(6)').text(),
            //                Total: $(this).find('td:nth-child(5)').text().replace('$', '').replace(',', '').replace('.00', '')
            //            }

            //            transactiondetails.push(transdet);
            //        }
            //    });

            //
            //}

            if (transactionDetails.length == 0) {
                $.AlertDialog('There is no product or service added.', 'Error Message', function (event) { }, 'lightcoral');
                return;
            }

            var transaction = {
                BusinessID: 0,
                CustomerID: _customerID,
                AssociateID: $('#ddlAtendedBy').val(),
                TotalAmount: $('#tblTrans').find('tr:last td:nth-child(5)').text().replace('$', '').replace(',', '').replace('.00', ''),
                TransactionDate: (new Date()).toLocaleString(), //PT - add time in the client side
                ModifiedDate: (new Date()).toLocaleString() //PT - add time in the client side
            };

            $.ajax({
                    url: '/transactions/AddNewTransaction/',
                    type: 'POST',
                    data: JSON.stringify({ transaction: transaction, transactiondetails: transactionDetails }),
                    //dataType: 'json',
                    traditional: true,
                    contentType: 'application/json;',
                    success: function (result) {
                        if (result != '0') {
                            document.location.href='/transactions/transactiondetails/' + result;
                            //window.location();
                            //return false;
                        } else {
                            //alert("Error: Customer transaction update has failed.");
                            $.AlertDialog('Error: Customer transaction update has failed.', 'Error Message', function (event) { }, 'lightcoral');
                        }
                    }
                });
        });



        $(document).on('click', '.delete', function () {
            //$(this).closest('tr').remove();
            //$('#tblTrans tr:last').remove();
            //TotalUp();
            var index = $(this).data("index");
            transactionDetails.splice(index, 1);
            LoadTable();

        });


        //load associates
        $.ajax({
            url: '/customer/GetAssociates/',
            type: 'POST',
            //dataType: 'json',
            traditional: true,
            contentType: 'application/json;',
            success: function (result) {
                if (result != '0') {
                    $.each(result, function (i, item) {
                        $('#ddlAtendedBy').append($('<option>', {
                            value: item.AssociateID,
                            text: item.FirstName + ' ' + item.LastName
                        }));
                    });
                    $('#ddlAtendedBy').val(_assosiateID)
                } else {
                    $.AlertDialog('There was an error assosiates.', 'Error Message', function (event) { }, 'lightcoral');
                }
            }
        });
    });


    function LoadTable() {

        $("#tblTrans tbody").empty();
        var total = 0;
        if (transactionDetails.length > 0) {
            $.each(transactionDetails, function (index, value) {
                var subtotal = 0;
                if (value.DiscountPrice == '') {
                    subtotal = value.Quantity * value.UnitPrice;
                }
                else {
                    subtotal = value.Quantity * value.DiscountPrice;
                }

                var TransactionDetailRow =
                    "<tr id=\"" + value.FormID + "\">" +
                    "<td>" + value.FormTitle + "</td>" +
                    "<td class='text-center'>" + value.Quantity + "</td>" +
                    "<td class='text-right currencyLabel'>" + value.UnitPrice + "</td>" +
                    "<td class='text-right currencyLabel'>" + value.DiscountPrice + "</td>" +
                    "<td class='text-right currencyLabel'>" + subtotal + "</td>" +
                    "<td>" + (value.Notes != '' ? " <a  data-toggle='popover' data-title='Note' data-content='" + value.Notes + "' data-trigger='hover'><i class='fa fa-commenting-o fa-2x' aria-hidden='true'></i></a>" : '') + "</td>" +
                    "<td> <a class='delete' data-index='" + index + "'><i class='fa fa-trash fa-shadow fa-2x' style='color:crimson' data-toggle='tooltip' data-placement='right' title='Delete' ></i></a> </td>" +
                    "</tr>";

                $("#tblTrans tbody").append(TransactionDetailRow);

                total += subtotal;
            });
        } else {
            $("#tblTrans tbody").append("<tr><td colspan='8' class='text-center'>No product or service added</td></tr>");
        }
        $("#lblTotal").text(total);


        $('.currencyLabel').formatCurrency();
        $('[data-toggle="tooltip"]').tooltip();
        $('[data-toggle="popover"]').popover();
    }

    function _AddTransactionDetail() {

        if (!_ValidateNewDetail()) {
            return;
        }

        var newDetail = _GetNewDetail();

        transactionDetails.push(newDetail);

        _CloseNewDetailDialog();

        LoadTable();
    }

</script>

@{
    var custid = ((AHDDManagerClass.Customer)Session["SelectedCustomer"]).CustomerID;
    var custname = ((AHDDManagerClass.Customer)Session["SelectedCustomer"]).FullName;
}

<h2>Create Receipt</h2>

@*<a href="/transactions/customertransactions/@Url.RequestContext.RouteData.Values["id"]">
        <img src="~/images/GoBack.png" data-toggle="tooltip" data-placement="left" title="Back to Receipts" />
    </a>*@

<div class="well">
    <div class="row">
        <div class="col-md-2">
            <label>Customer ID:</label>
            <div>@Url.RequestContext.RouteData.Values["id"]</div>
        </div>
        <div class="col-md-6">
            <label>Name:</label>
            <div>@custname</div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 text-right">
        <a id="lnkAdd">
            @*<img src="~/images/addtransactionitem.png" data-toggle="tooltip" data-placement="right" title="Add Item" />*@
            <i class="fa fa-shopping-basket fa-3x" aria-hidden="true" data-toggle="tooltip" title="Add Service" style="color:royalblue"></i>
        </a>
    </div>
</div>

<table id="tblTrans" class="table table-striped">
    <thead>
        <tr>
            <th class="col-sm-5">Description</th>
            <th class="col-sm-1">Quantity</th>
            <th class="col-sm-1">Unit Price</th>
            <th class="col-sm-2">Discount Price</th>
            <th class="col-sm-1">SubTotal</th>
            <th class="col-sm-1">Note</th>
            <th></th>
        </tr>
    </thead>
    <tbody><tr><td colspan='8' class='text-center'>No product or service added</td></tr></tbody>
    <tfoot>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td class="text-right">Total:</td>
            <td class="text-right"><span id="lblTotal" class="currencyLabel">$0.00</span></td>
            <td></td>
            <td></td>
        </tr>
    </tfoot>
</table>
<div class="row">
    <div class="form-group col-sm-9">
        <label class="empty-label">&nbsp;</label>
        <a id="btnCancel" href="/transactions/customertransactions/@Url.RequestContext.RouteData.Values["id"]" class="btn btn-danger">Cancel</a>
    </div>
    <div class="form-group col-sm-2">
        <label>Attended by:</label>
        <select id="ddlAtendedBy" class="form-control"></select>
    </div>
    <div class="form-group col-sm-1 text-right">
        <label class="empty-label">&nbsp;</label>
        <button id="btnSubmit" class="btn btn-success">Submit</button>
    </div>
</div>

@Html.Partial("~/Views/Shared/AddTransactionDetailDialog.cshtml")

